{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Narion Manager{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/narion-admin.css' %}">
{% endblock %}

{% block branding %}
<a class="narion-brand" href="{% url 'admin:index' %}" aria-label="Narion Manager">
  <span class="narion-brand-mark-wrap"><img class="narion-brand-mark" src="{% static 'admin/narion-mark.svg' %}" alt="Narion"></span>
  <div class="narion-manager-copy">
    <div class="narion-brand-name">Narion Manager</div>
    <div class="narion-brand-sub">PROPERTY OPERATIONS</div>
  </div>
</a>
{% endblock %}

{% block nav-global %}{% endblock %}
