{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Narion Manager{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/narion-admin.css' %}">
{% endblock %}

{% block branding %}
<div class="narion-brand">
  <img class="narion-brand-logo" src="https://narion.am/narion-logo.png" alt="Narion">
  <div class="narion-manager-copy">
    <div class="narion-brand-name">Manager</div>
    <div class="narion-brand-sub">PROPERTY OPERATIONS</div>
  </div>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
